.about-container {
    display: flex;
    flex-direction: column;
    gap: 20px;

    width: 100%;
    padding: 30px;
}

.intro-block p {
    line-height: 1.6em;
}

.intro-block a {
    all: unset;
    color: var(--primary);
    text-decoration: underline;
    transition: var(--default-transition);
}

.intro-block a:hover {
    cursor: pointer;
    color: var(--primary-darker);
}

.intro-block p span {
    color: var(--primary);
}

.about-container .featured-projects {
    margin-top: var(--section-divider);

    display: flex;
    flex-direction: column;
    gap: 20px;

    /* background-color: var(--eerie-black);
    border-radius: var(--default-radius);
    padding: 15px; */
}

.about-container .featured-projects .cards-container {
    display: flex;
    justify-content: space-around;
}
