.about-container {
    display: flex;
    flex-direction: column;
    gap: 20px;

    width: 100%;
    padding: 30px;
}

.intro-block p {
    line-height: 1.6em;
}

.intro-block a {
    all: unset;
    color: var(--primary);
    text-decoration: underline;
    transition: var(--default-transition);
}

.intro-block a:hover {
    cursor: pointer;
    color: var(--primary-darker);
}

.intro-block p span {
    color: var(--primary);
}

.about-container .featured-projects {
    margin-top: var(--section-divider);
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: var(--default-radius);

    padding: 15px 15px 30px;
    position: relative;
    background-color: var(--bg-gradient);
    z-index: 0;
    box-shadow: var(--shadow-1);
}

.about-container .featured-projects::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    padding: 1px;
    background: var(--border-gradient-onyx);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask-composite: exclude;
    z-index: -1;
}

.about-container .featured-projects .cards-container {
    display: flex;
    justify-content: space-around;
}

/* GITHUB CALENDAR */
.github-calendar-wrapper {
    margin-top: var(--section-divider);
    border-radius: var(--default-radius);

    padding: 15px 15px 30px;
    position: relative;
    background-color: var(--bg-gradient);
    z-index: 0;
    box-shadow: var(--shadow-1);
}

.github-calendar-wrapper::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    padding: 1px;
    background: var(--border-gradient-onyx);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask-composite: exclude;
    z-index: -1;
}

.github-calendar-wrapper .title {
    margin-bottom: 20px;
}

.github-calendar-wrapper {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

.react-activity-calendar {
    width: 100% !important;
    max-width: 100%;
}

.react-activity-calendar__scroll-container {
    max-width: 100% !important;
    overflow: hidden !important;
}

.react-activity-calendar__calendar {
    width: 100% !important;
    height: auto !important;
}

.react-activity-calendar__calendar text {
    font-family: 'Poppins', sans-serif !important;
    font-size: 14px !important;
    fill: #ccc !important;
}




.about-container .more-about {
    margin-top: var(--section-divider);
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.more-about .writings {
    flex: 2;
    align-self: flex-start;

    border-radius: var(--default-radius);
    padding: 15px 15px 30px;
    position: relative;
    background-color: var(--bg-gradient);
    z-index: 0;
    box-shadow: var(--shadow-1);
}

.writings::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    padding: 1px;
    background: var(--border-gradient-onyx);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask-composite: exclude;
    z-index: -1;
}

.more-about .tech-stack {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
}

.more-about .tech-stack .title {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 5px;
}

.tech-stack .frontend {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;

    border-radius: var(--default-radius);
    padding: 15px 15px 30px;
    position: relative;
    background-color: var(--bg-gradient);
    z-index: 0;
    box-shadow: var(--shadow-1);
    flex-wrap: wrap;
}

.tech-stack .backend {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;

    border-radius: var(--default-radius);
    padding: 15px 15px 30px;
    position: relative;
    background-color: var(--bg-gradient);
    z-index: 0;
    box-shadow: var(--shadow-1);
}

.tech-stack .database {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;

    border-radius: var(--default-radius);
    padding: 15px 15px 30px;
    position: relative;
    background-color: var(--bg-gradient);
    z-index: 0;
    box-shadow: var(--shadow-1);
}

.frontend::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    padding: 1px;
    background: var(--border-gradient-onyx);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask-composite: exclude;
    z-index: -1;
}

.backend::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    padding: 1px;
    background: var(--border-gradient-onyx);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask-composite: exclude;
    z-index: -1;
}

.database::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    padding: 1px;
    background: var(--border-gradient-onyx);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask-composite: exclude;
    z-index: -1;
}
