.about-container {
    display: flex;
    flex-direction: column;
    gap: 20px;

    width: 100%;
    padding: 30px;
}

.intro-block p {
    line-height: 1.6em;
}

.intro-block a {
    all: unset;
    color: var(--primary);
    text-decoration: underline;
    transition: var(--default-transition);
}

.intro-block a:hover {
    cursor: pointer;
    color: var(--primary-darker);
}

.intro-block p span {
    color: var(--primary);
}

.about-container .featured-projects {
    margin-top: var(--section-divider);

    display: flex;
    flex-direction: column;
    gap: 20px;

    /* background-color: var(--charcoal-gray-2);
    border-radius: var(--default-radius);
    padding: 15px; */
}

.about-container .featured-projects .cards-container {
    display: flex;
    justify-content: space-around;
}

.github-calendar-wrapper {
    margin-top: var(--section-divider);
}

.github-calendar-wrapper .title {
    margin-bottom: 20px;
}

.github-calendar-wrapper {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

.react-activity-calendar {
    width: 100% !important;
    max-width: 100%;
}

.react-activity-calendar__scroll-container {
    max-width: 100% !important;
    overflow: hidden !important;
}

.react-activity-calendar__calendar {
    width: 100% !important;
    height: auto !important;
}

.react-activity-calendar__calendar text {
    font-family: 'Poppins', sans-serif !important;
    font-size: 14px !important;
    fill: #ccc !important;
}
