.home-container {
    margin-left: 250px;
    padding-top: 50px;
    position: relative;
}

/* ------ HERO ------- */
.home-container .hero {
    margin: 0 50px;
    padding-bottom: 60px;
    /* margin-bottom: 10px; */
    border-bottom: 1px solid rgba(127, 129, 255, 0.375);
}

.home-container .hero #welcome,
.home-container .hero #paragraph {
    font-weight: bold;
    font-size: 40px;
    background: linear-gradient(90deg, rgb(95, 97, 255), black, rgb(95, 97, 255), black, rgb(95, 97, 255));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-size: 200% 100%;
    animation: gradientAnimation 6s linear infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 100% 0;
    }
    100% {
        background-position: 0% 0;
    }
}

.home-container .hero #welcome {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 30px;
}

.home-container .hero #paragraph {
    display: flex;
    font-weight: bold;
    font-size: 45px;
    line-height: 1.2;
}

/* ------ PROJECTS ------- */
.home-container .projects {
    margin: 0 50px;
    position: relative;
    /* border: 1px solid red; */
    padding-bottom: 70px;
}

.home-container .projects h3 {
    color: gray;
    font-weight: normal;
    margin-bottom: 30px;
}

.home-container .projects .project {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    position: sticky;
    top: 40px;
    transition: opacity 1s ease-in-out;
    opacity: 0; /* Initial state */
/*
    border: 2px solid red; */
}

.home-container .projects #dummy {
    height: 200px;
    z-index: 10;
    /* border: 2px solid red; */
}

.home-container .projects .project.visible {
    opacity: 1; /* Fade-in state */
}

.home-container .projects .project:nth-child(2) {
    position: sticky;
    top: 40px;
    z-index: 1;
}

.home-container .projects .project:nth-child(3) {
    position: sticky;
    top: 90px;
    z-index: 2;
}

.home-container .projects .project:nth-child(4) {
    position: sticky;
    top: 140px;
    z-index: 3;
}

.home-container .projects .project .top-bar {
    /* background-color: rgb(64, 64, 64); */
    background-color: rgba(194, 189, 189, 0.661);
    height: 40px;
    width: 100%;
    padding: 5px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    box-shadow: 0px 3px 24px 1px rgba(0,0,0,0.75);
    backdrop-filter: blur(10px);
}

.home-container .projects .project .top-bar .dot-container {
    display: flex;
    flex-direction: row;
    gap: 6px;
    position: absolute;
    left: 20px;
}

.home-container .dot-container .dot {
    height: 12px;
    width: 12px;
    border-radius: 50%;
}

.home-container .dot-container #dot-one {
    background-color: rgb(253, 103, 103);
}

.home-container .dot-container #dot-two {
    background-color: rgb(255, 214, 90);
}

.home-container .dot-container #dot-three {
    background-color: rgb(100, 219, 100);
}

.home-container .search-bar {
    width: 400px;
    height: 25px;
    /* background-color: rgb(42, 42, 42); */
    background-color: rgba(151, 151, 151, 0.217);
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 5px 5px;
    gap: 5px;

    border-radius: 5px;
    backdrop-filter: blur(10px);
}

.home-container .search-bar span {
    /* color: rgb(145, 145, 145); */
    color: rgb(83, 83, 83);
}

.home-container .search-bar img {
    height: 13px;
}

/* ------ TECH ------- */
.home-container .tech {
    margin: 0 50px;
    position: relative;
    /* border: 1px solid red; */
    padding-bottom: 70px;
    border-bottom: 1px solid rgba(127, 129, 255, 0.375);
}

.home-container .tech .title,
.home-container .projects .title {
    margin-top: 10px;
}

.home-container .tech h3 {
    color: gray;
    font-weight: normal;
    margin-bottom: 30px;
}

.home-container .tech .logos-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: space-between;

    gap: 20px;

    width: 100%;

    /* border: 1px solid red; */
}

.home-container .tech .logos-container img {
    width: 98px;
    padding: 15px;
}

.home-container .tech .logos-container .tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
    border-radius: 20px;
    background-color: rgba(135, 135, 135, 0.177);
    transition: transform 0.3s ease-out;
    position: relative;
}

.home-container .tech .logos-container .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: rgba(0, 0, 0, 0.404);
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 110%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
    backdrop-filter: blur(5px);
}

.home-container .tech .logos-container .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.404) transparent transparent transparent;
}

/* Show the tooltip text when hovering */
.home-container .tech .logos-container .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}


/* ------ FOOTER ------- */
.home-container .footer {
    border-top: 1px solid rgba(127, 129, 255, 0.375);
    padding: 30px 50px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-container #copyright {
    display: flex;
    align-items: center;
    gap: 10px;
}

.home-container .footer i {
    font-size: 14px;
}
