.home-container {
    padding-top: 120px;

    margin: 0 20px;

    border: 1px solid black;
}

.home-container .hero {
    margin: 0 70px;
}

.home-container .hero h1 {
    display: flex;
    align-items: flex-end;
}

.home-container #name {
    color: white;
}
