.nav-container {
    margin: 20px 60px;
    height: 80px;
    width: calc(100vw - 120px);

    padding: 5px 30px;

    position: fixed;
    z-index: 666;

    background-color: rgba(0, 0, 0, 0.331);
    border-radius: 20px;
    border: 1px solid rgba(127, 129, 255, 0.375);

    backdrop-filter: blur(11px);

    display: flex;
    align-items: center;
}

.nav-container img {
    height: 75px;
}
