.nav-container {
    margin: 20px 100px;
    height: 80px;
    width: calc(100vw - 200px);

    position: fixed;
    z-index: 666;

    background-color: rgba(0, 0, 0, 0.331);
    border-radius: 20px;
    border: 1px solid rgba(127, 129, 255, 0.375);
}
