.nav-container {
    /* border: 1px solid red; */
    position: fixed;
    z-index: 666;

    width: 100vw;

    display: flex;
}

.nav-container .section-one img {
    width: 100px;
    height: 54px;
    background-color: rgba(255, 255, 255, 0.142);
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
}

.section-one .logo {
    filter: invert(55%) sepia(52%) saturate(709%) hue-rotate(198deg) brightness(108%) contrast(101%);
}

.nav-container .section-one {
    /* padding: 0 30px; */
    width: 100%;
    padding: 20px 40px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}

.nav-container .section-two {
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.nav-container #title {
    color: rgba(0, 0, 0, 0.42);
}

.nav-container span {
    height: 1px;
    width: 100%;
    margin: 20px 0;

    background-color: rgba(127, 129, 255, 0.238);
}

.nav-container .section-three {
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.nav-container a {
    all: unset;
    color: rgb(167, 167, 167);

    transition: 0.2s ease;
}

.nav-container #title {
    color: white;
}

.nav-container a:hover {
    color: rgb(127, 129, 255);
    cursor: pointer;
}
