.techbox-container {
    display: inline-flex;
    align-items: center;
    gap: 8px;
}

.techbox-container:hover {
    cursor: pointer;
}

.techbox-container a {
    all: unset;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    gap: 5px;

    background-color: var(--charcoal-gray);
    border: 0.5px solid hsl(0, 0%, 34%);

    padding: 6px;

    transition: var(--default-transition);
}

.techbox-container a:hover {
    border: 0.5px solid var(--primary);
}

.techbox-container .tech-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    overflow: hidden;
}

.techbox-container .tech-logo img {
    width: 16px;
    height: 16px;
}

.techbox-container .tech-name {
    font-size: 11px;
    line-height: 1;
}
