.projects-container {
    display: flex;
    flex-direction: column;
    gap: 20px;

    width: 100%;
    padding: 30px;
}

.projects-container #marker {
    height: 5px;
    background-color: var(--primary);
    width: 70px;
    border-radius: 10px;
}

.projects-display {
    display: flex;
    flex-direction: row;
    gap: 30px;

    justify-content: space-between;
    flex-wrap: wrap;
}
