::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--eerie-black);
    border: 1px solid var(--jet);
    border-radius: 10px;

}

::-webkit-scrollbar-thumb:hover {
    background: var(--primary);

}

.homepage {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
    padding: 60px 150px;
}

 /* STICKY PROFILE */
.homepage .sticky-profile {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 40px 30px;
    min-width: 280px;
    /* max-width: 280px; */
    border-radius: var(--default-radius);
    background-color: var(--eerie-black);
    border: 1px solid var(--jet);

    overflow: hidden;
}

.sticky-profile img {
    width: 200px;
    border-radius: var(--default-radius);
    box-shadow: var(--shadow-1);
}

.sticky-profile .name {
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    background: linear-gradient(180deg, #fff, #8e8e8e);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    margin: 10px 0;
    cursor: default;
}

.sticky-profile .occupation {
    background-color: rgb(43, 43, 43);
    padding: 5px 10px;
    border-radius: 7px;

    font-size: 13px;
    color: rgb(193, 193, 193);
}

.sticky-profile span {
    height: 1px;
    width: 100%;
    background-color: var(--jet);
    margin: 30px;
}

.info-bite-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    align-self: flex-start;

    gap: 30px;
}

.info-bite-container a {
    all: unset;
    transition: var(--default-transition);
}

.info-bite-container a:hover {
    cursor: pointer;
    color: var(--primary);
}

.sticky-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.sticky-footer .copyright {
    font-size: 16px;
}

.sticky-footer .hyperlinks a {
    all: unset;
    font-size: 16px;
    color: var(--primary);
    text-decoration: underline;
}

.sticky-footer .hyperlinks a:hover {
    cursor: pointer;
    color: var(--primary-darker);
}

.more-links {
    display: flex;
    flex-direction: row;
    gap: 10px;

    margin-top: 30px;
}

.more-links a {
    color: var(--eerie-black-2);
    font-size: 20px;

    width: 100%;
    transition: var(--default-transition);
}

.more-links a:hover {
    color: var(--primary);
}

/* CONTENTS SECTION */
.homepage .contents-section {
    min-width: 900px;
    border-radius: var(--default-radius);
    background-color: hsl(240, 2%, 12%);
    border: 1px solid var(--jet);
}

@media (max-width: 1280px) {
    .homepage {
        flex-direction: column;
        padding: 50px 50px;
        height: auto;
    }

    .homepage .sticky-profile,
    .homepage .contents-section {
        min-width: 100%;
        height: auto;

        transition: var(--default-transition);
    }
}

@media (max-width: 800px) {
    .homepage {
        padding: 50px 20px;
    }
}
