* {
    font-family: 'SF Pro';
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html, body {
  background-color: #111111;
  color: rgb(255, 255, 255);
}

@font-face {
  font-family: 'SF Pro';
  src: url('../public/font/SFPRODISPLAYREGULAR.OTF') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'SF Pro';
  src: url('../public/font/SFPRODISPLAYBOLD.OTF') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'Akira';
  src: url('../public/font/Akira-Expanded-Demo.otf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Nexa';
  src: url('../public/font/Nexa-ExtraLight.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Nexa';
  src: url('../public/font/Nexa-Heavy.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'Lemontea';
  src: url('../public/font/Lemontea.ttf') format('truetype');
  font-weight: normal;
}

:root {
  --default-radius: 20px;
  --shadow-1: -4px 8px 24px hsla(0, 0%, 0%, 0.125);
  --border-gradient-onyx: linear-gradient(to bottom right,hsl(0,0%,25%),hsla(0,0%,25%,0) 50%);
  --bg-gradient: linear-gradient(to bottom right, hsla(240, 1%, 18%, 0.251), hsla(240, 2%, 11%, 0)), hsl(240, 2%, 13%);
  --jet: hsl(0, 0%, 22%);
  --lighter-jet: hsl(0, 0%, 51%);

  --default-transition: 0.5s ease;

  --primary: rgb(170, 174, 255);
}
