* {
  font-family: 'SF Pro';
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html, body {
  background-color: rgb(226, 219, 240);
  color: rgb(60, 60, 60);
}

@font-face {
  font-family: 'SF Pro';
  src: url('../public/font/SFPRODISPLAYREGULAR.OTF') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'SF Pro';
  src: url('../public/font/SFPRODISPLAYBOLD.OTF') format('truetype');
  font-weight: bold;
}
